{% extends '../views/nav.html' %}
{% block customCSS %}
 {% parent %}
      <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
 {% endblock%} 


{% block contents %}
  {% parent %}
    <!--header class="intro-header"-->
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
               
                <div class="officer col-lg-12">
                    <div class="row">
                        <hr/>
                    </div>
                    <div class="row vertical-align">
                        <div class="col-md-3">
                            <img class="pull-xs-left img-fluid img-circle img-responsive officer-img" src="/images/ashish.jpg"/>
                        </div>
                        <div class="col-md-4 info">
                            <div class="row vertical-align">
                                <div class="col-md-8">
                                    <h3>Mentor</h3><br/>
                                </div>  
                            </div>
                            <blockquote class="details">
                            <span>Ashish Gaurav</span> <br/>
                            </blockquote>
                        </div>
                        <div class="col-md-2 info">
                            <div class="row vertical-align">
                                <div class="col-md-8">
                                    <h3>Mentor</h3><br/>
                                </div>  
                            </div>
                            <blockquote class="details">
                            <span>Nikhil Verma</span> <br/>
                            </blockquote>
                        </div>
                        <div class="col-md-3">
                            <img class="pull-xs-left img-fluid img-circle img-responsive officer-img" src="/images/nikhil.jpg"/>
                        </div>
                                
                    </div>
                    <div class="row">
                        <hr/>
                    </div>
                </div>

                <div class="officer col-lg-12">
                    <div class="row">
                    </div>
                    <div class="row vertical-align">
                        <div class="col-md-3">
                            <img class="pull-xs-left img-fluid img-circle img-responsive officer-img" src="/images/vishal.jpg"/>
                        </div>
                        <div class="col-md-4 info">
                            <div class="row vertical-align">
                                <div class="col-md-8">
                                    <h3>Developer</h3><br/>
                                </div>  
                            </div>
                            <blockquote class="details">
                            <span>Vishal Ashank</span> <br/>
                            </blockquote>
                        </div>
                        <div class="col-md-2 info">
                            <div class="row vertical-align">
                                <div class="col-md-8">
                                    <h3>Developer</h3><br/>
                                </div>  
                            </div>
                            <blockquote class="details">
                            <span>Subham Kumar Sinha</span> <br/>
                            </blockquote>
                        </div>
                        <div class="col-md-3">
                            <img class="pull-xs-left img-fluid img-circle img-responsive officer-img" src="/images/sinha.jpg"/>
                        </div>
                                
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                </div>

                <div class="officer col-lg-12 col-md-offset-4 col-lg-offset-4">
                    <div class="row vertical-align">
                        <div class="col-md-3">
                            <img class="pull-xs-left img-fluid img-circle img-responsive officer-img" src="/images/raj1.jpg"/>
                        </div>
                        <div class="col-md-8 info">
                            <div class="row vertical-align">
                                <div class="col-md-8">
                                    <h3>Developer</h3><br/>
                                </div>  
                            </div>
                            <blockquote class="details">
                            <span>Subham Raj Singh</span> <br/>
                            </blockquote>
                        </div>
                                
                    </div>
                    
                </div>
                <div class="officer col-lg-12 ">
                    <div class="row vertical-align">
                        <div class="row">
                            <hr/>
                        </div>
                    </div>
                </div>
              




                

            </div>
        </div>
    </div>
{% endblock%}

