{% extends '../views/nav.html' %}
{% block customCSS %}
 {% parent %}
    <!--link rel="stylesheet" type="text/css" href="/css/signin.css"--> 
      <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
      <style>
        .heading{
          display: flex;
          content: space-between;
          margin: 2% auto;
          padding: 0% 5% 2% 5%;
        }
        .message{
          color: red;
          margin: 5% 0% 1% auto;
        }
      </style>
 {% endblock%} 


{% block contents %}
  {% parent %}
  <div class="search_results">
    {% for video in videos %}
    <a href="/videos/watch/{{ video._id.toString() }}">
      <div class= "col-md-offset-2 col-sm-offset-1 col-sm-11 col-md-7 ">
        <div class="panel">
          <div class="row">
            <div class="col-sm-4 col-md-2">
              <span class="thumbnail" style="margin: 2% auto;">
                <img src="images/img_avatar2.jpg" alt="#">
              </span>
            </div>
            <div class="col-sm-7 col-md-9" >
              <span style:"margin-top:10% auto;">
                <h4> {{ video.users[video.users.length-1].title }}</h4>
              </span>
              Shared By:
              <span style="color:yellow;">
                {{video.users[video.users.length-1]._userid.nick}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    
      <center>
    <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in a %}
    <li>
     <a href="/latest?page={{i}}">{{i}}</a>
   </li>
    {% endfor %}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav></center>


 </div>


{% endblock%}