<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>WELCOME TO GAMEDRONE</title> 
    <meta name="description" content="gamedrone app">
     {% block customCSS %}{% endblock %}
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
    
</head>
<body> 
<nav class="navbar navbar-inverse">
  <div class="container-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand col-md-offset-4" href="#">GameDrone</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="col-md-offset-2">
      <ul class="nav navbar-nav">
        <li><a href="#" class="navbar-brand">Latest Contents</a></li>
        <li><a href="#" class="navbar-brand">Sharers</a></li>
        <li><a href="#" class="navbar-brand">About</a></li>
      </ul>
        </div>

       <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#">Link</a></li>-->
        <form class="navbar-form " action="/users/signin">
        <div class="form-group">
        <button type="submit" class="btn btn-danger">Log In</button>
      </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#">Link</a></li>-->
        <form class="navbar-form " action="http://172.16.86.222/dchub/register">
        <div class="form-group">
        <button type="submit" class="btn btn-danger" >Sign Up</button>
      </form>
      </ul>
      
      <div class="nav navbar-nav navbar-right">
      <form class="navbar-form " action="/users/search" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="title" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

   <!--nav class="navbar navbar-inverse navbar-fixed-top " id="my-navbar">
      <div class="navbar-inner">

         <div class="container col-lg-9 col-md-9 col-sm-9 col-xs-12 col-lg-offset-1">
            <div class="navbar-header">

            <a href="" class="navbar-brand">Gamedrone</a>
            <a href="" class="navbar-brand">Latest Contents</a>
             <a href="" class="navbar-brand">Sharers</a>
              <a href="" class="navbar-brand">Help</a>
            <a href="" class="navbar-brand">About</a>

            </div>
             <ul class="nav navbar-nav navbar-right ">
             <a style='margin-top: 9px; margin-right: 5px;'  role="button" class="btn btn-large btn-danger pull-right" href="/users/signin">Login</a>
             <a style='margin-top: 9px; margin-right: 5px;'  role="button" class="btn btn-large btn-danger pull-right" href="http://172.16.86.222/dchub/register">Register</a></ul>
             <form class="navbar-form navbar-right">
                  <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </form> 
         </div>
       </div>  
    </nav>--> 

     

        {% block contents %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
</body> 
</html> 
    