<!DOCTYPE html>
<html>
<head>
  <title>Sign in</title>
  <link rel="stylesheet" type="text/css" href="/css/signin.css">
</head>
<body>
  <div class="main">
 <form action="/userslogin" method="post">
  <div class="imgcontainer">
    Sign In
  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <!--<span class="psw"><a href="/users/forgot">Forgot password?</a></span>-->
  </div>
  <div class="message" >
    {% if success.length>0 %}
    {{success[0]}}
    {% endif %}
    {% if error.length>0 %}
    {{error[0]}}
    {% endif %}
  </div>
</form>
</div>
</body>
</html>