{% extends '../nav.html' %}
{% block customCSS %}
 {% parent %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/like.css">
    <link rel="stylesheet" type="text/css" href="/css/extra.css">
 {% endblock%} 

{% block contents %}
 {% parent %}
   <!--<div class="col-ls-offset-4 col-ls-8 col-md-offset-4 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">-->
     <div class="container col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
       <div class="row" >
           <div class="col-md-8">
              <!--iframe width=100% height=500 style="margin-top:5%; margin-right:5%" src="{{vidurl}}" frameborder="0" allowfullscreen></iframe-->
              <video height="100%" width="100%" style="margin-top:5%; margin-right:5%;" controls frameborder="0" autoplay="true" >
                <source src="{{vidurl}}" type="video/mp4" onerror="alert('user unavailable')" loop>
                Your browser does not support this video player, please consider upgrading to a modern browser or contact your sysadmin.
              </video>
              <ul class="list-group" style="margin-top:2%;">
                <li class="list-group-item"><span class="videotitle"> {{vusrdata.title}}
                  <span class="label label-primary col-md-offset-1 col-sm-offset-1">
                    <span class="badge" >{{videodata.views}} </span> views</span>
                  </span>
                  <span class="col-md-offset-1 col-sm-offset-1 " style="margin-top:2%;">
                     Shared By:<span style="color:yellow;">{{" "+vusrdata._userid.nick}}</span></span
                </li>
              </ul>
            </div>  
          <!--div class="col-md-4" style="display:none">
            <h3 style="padding-bottom:3%">Recommended videos</h3>
            <div style="margin=3%">
             <iframe style="padding-top:3%" width=auto height=auto  src="https://www.youtube.com/embed/P8Xa2BitN3I?feature=oembed" frameborder="0" ></iframe>
             <p style="float:right; padding-top:3%"><font size="3.5" color="red">this is our video</p>
            </div>
             <b>   
          </div--> 
          <div class="col-md-4" >
            <h3 style="padding-bottom:3%;padding-left:20%">TOP VIEWED THIS WEEK</h3>
            {% for video in videoss %}
              <a href="/videos/watch/{{ video._id.toString() }}">
                <div class= "col-sm-12 col-md-12 ">
                  <div class="panel">
                    <div class="row">
                      <div class="col-sm-4 col-md-4">
                        <span class="thumbnail" style="margin-top:10%;">
                          <img src="../../images/img_avatar2.jpg" alt="#">
                        </span>
                      </div>
                      <div class="col-sm-8 col-md-8" >
                        <span style:"margin-top:0% ;">
                          <h4> {{ video.users[0].title }}</h4>
                        </span>
                        Shared By:&nbsp
                        <span style="color:yellow;">
                          {{video.users.length}} users
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              {% endfor %}
          </div> 
       </div>         
  </div>
  
 


 {% endblock%}











