
{% extends '../users/usernav.html' %}
{% block customCSS %}
 {% parent %}
    <!--link rel="stylesheet" type="text/css" href="/css/signin.css"--> 
      <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
 {% endblock%} 
{% block contents %}
    {% parent %}
 <div class="container col-md-12 col-sm-12 col-ls-12 col-xs-12" style="margin-top: 100px";>
  <div class="col-sm-12 col-md-6 col-xs-12">
  	<div class="panel panel-default" >
  		<div class="panel-heading"><center>RECENT CONTENTS</center></div>
    <div class="panel-body" id="panel">
      <div class="table-responsive">          
          <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
              <tr>
                <td><form action="http://192.168.118.164/vidserve/v1.mp4"><button type="submit" class="list-group-item">v1.mp4</button>
                </form></td>
                <td>vid_size</td>
              </tr>
              <tr>
                <td><form action="www.google.com"><button type="submit" class="list-group-item">Cras justo odio</button>
                </form></td>
                <td>vid_size</td>
              </tr>
              <tr>
                <td><form action="www.google.com"><button type="submit" class="list-group-item">Cras justo odio</button>
                </form></td>
                <td>vid_size</td>
              </tr>
            </tbody>
          </table>
          </div>
    </div>
  	</div>
	</div>
	<div class="col-sm-12 col-md-6 col-xs-12">
  		<div class="panel panel-default">
  			<div class="panel-heading"><center>SHARERS</center></div>
   			 <div class="table-responsive">          
			  <table class="table table-bordered">
			    <thead>
			      <tr>
			        
			        <th><center>NICK</center></th>
			        <th><center>URL</center></th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>sharer1</td>
			        <td><button type="button" class="list-group-item">Cras justo odio</button></td>
			      </tr>
			    </tbody>
			  </table>
			  </div>
  		</div>
  	</div>
</div>
{% endblock%} 

 