<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>WELCOME TO GAMEDRONE</title> 
    <meta name="description" content="gamedrone app">
    {% block customCSS %}{% endblock %}
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"-->
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
    
</head>
<body> 
   <nav class="navbar navbar-inverse navbar-fixed-top " id="my-navbar">
      <div class="navbar-inner">

         <div class="container col-lg-9 col-md-9 col-sm-9 col-xs-12 col-lg-offset-2">
            <div class="navbar-header">

            <a href="" class="navbar-brand">Gamedrone</a>
            <a href="" class="navbar-brand">Latest Contents</a>
            <a href="" class="navbar-brand">About</a>

            </div>
         </div>
       </div>  
    </nav> 

    {% block contents %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
</body> 
</html> 
    