{% extends '../users/usernav.html' %}
{% block customCSS %}
 {% parent %}
    <!--link rel="stylesheet" type="text/css" href="/css/signin.css"--> 
      <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
      <style>
      .btn-file {
        position: relative;
        overflow: hidden;
      }
      .btn-file input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
          background: white;
          cursor: inherit;
          display: block;
        }
</style>
 {% endblock%} 
 {% block contents %}
  {% parent %}
 <div class="container col-md-10 col-md-offset-1">
    <h1>Profile</h1>   
  	<hr>
      <!-- left column -->
        <div class="col-sm-12 col-md-6 col-ls-5 col-xs-12" style="margin: 2% auto;">
            <div class="text-center">
                 <div class="panel panel-success">
                    <div class="panel-heading" style ="height:50px;"></div>
                      <div class="panel-body">
                        <img class="avatar img-thumbnail" src="../../uploads/{{st}}"  alt="avatar" width="75%" height="75%"> <!--width="100%" height="100%"-->
                          <form method="post" enctype="multipart/form-data" action="/users/profile">                                
                                <table style="margin:5% auto;">
                                  <tr style="margin:5% auto;">
                                      <td>&nbsp;</td>
                                  </tr>
                                  <tr style="margin:5% auto;">
                                    <td><input  type="file" name='attach' id='attach' class="btn btn-primary btn-file" required="required" hidden></td>
                                  </tr><td >&nbsp;</td>
                                  <tr style="margin:5% auto;">
                                  </tr>
                                  <tr style="margin:5% auto;"><td><input type="submit"  value="Upload Image" class="btn btn-danger"></td></tr>
                                  <tr style="margin:5% auto;"><td >&nbsp;</td>
                                  </tr>
                                </table>
                          </form>
                      </div>
                  </div> 
            </div>
        </div>
      <div class="col-sm-12 col-md-6 col-ls-7 col-ls-offset-2 col-md-offset-3 col-xs-12 personal-info" style="margin: 12% auto;"> <!--16%-->
        <div class="panel-heading col-md-12" style="border-radius: 0 0 5px 5px; box-shadow: 0 0 5px  #00ff00;">
            <center><p style="font-size:200%;">Account Details</p></center>
            <hr/>
            <table class="col-md-12">
                <tr>
                  <td class="bold" style="font-size:200% ;"> IP</td>
                  <td style="font-size:200%; display:inline-block;margin-left: 10%;">{{userdata.ip}}</td>
                </tr>
                <tr>
                  <td class="bold" style="font-size:200% ;" > Name</td>
                  <td style="font-size:200%; display:inline-block;margin-left: 10%;"> {{userdata.full_name}}</td>
                </tr>
                <tr>
                  <td class="bold" style="font-size:200%;" > Nick</td>
                  <td style="font-size:200%;display:inline-block;margin-left: 10%;"> {{userdata.nick}}</td>
                </tr>                    
                <!--tr>
                  <td class="bold" style="font-size:200%;" > Email</td>
                  <td style="font-size:200%;display:inline-block;margin-left: 40%;"> {{userdata.email}}</td>
                </tr-->
            </table>
        </div>
      </div>
</div>
 {% endblock%} 
