<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>WELCOME TO GAMEDRONE</title> 
    <meta name="description" content="gamedrone app">
    {% block customCSS %}{% endblock %}
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/>
    
</head>
<body> 
   <!--<nav class="navbar navbar-inverse navbar-fixed-top " id="my-navbar">
      <div class="navbar-inner">

         <div class="container col-lg-9 col-md-9 col-sm-9 col-xs-12 col-lg-offset-1">
            <div class="navbar-header">

            <a href="" class="navbar-brand">Gamedrone</a>
            <a href="" class="navbar-brand">Latest Contents</a>
            <a href="" class="navbar-brand">About</a>

            </div>
              <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown" style="margin-left:20px;">
                        <a  href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Profile</a></li> 
                                <li><a href="/users/settings">Account Settings</a></li>
                                <li><a  href="/logout">Logout</a></li>
                            </ul>
                        </li>
                       
                    </ul>


             <form class="navbar-form navbar-right">
                  <div style="margin-left:1px;" class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </form>  


            
         </div>
       </div>  
    </nav> -->
     <nav class="navbar navbar-inverse">
        <div class="container-inverse">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand col-md-offset-4" href="#">GameDrone</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="col-md-offset-2">
            <ul class="nav navbar-nav">
              <li><a href="#" class="navbar-brand">Latest Contents</a></li>
              <li><a href="#" class="navbar-brand">Sharers</a></li>
              <li><a href="#" class="navbar-brand">About</a></li>
            </ul>
              </div>
            <div class="col-md-offset-8">
              <div class="nav navbar-nav ">
              <form class="navbar-form ">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </form>
              </div>
            </div>
            <div class="col-md-offset-10">
            <ul class="nav navbar-nav">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{userdata.nick}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="/users/settings">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Log out</a></li>
                  </ul>
                </li>
            </ul>
            </div>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>

 {% block contents %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
</body> 
</html> 
    