{% extends 'usernav.html' %}
{% block customCSS %}
 {% parent %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/like.css">
    <link rel="stylesheet" type="text/css" href="/css/extra.css">
 {% endblock%} 

{% block contents %}
 {% parent %}
   <!--<div class="col-ls-offset-4 col-ls-8 col-md-offset-4 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">-->
     <div class="container col-lg-offset-1 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
       <div class="row" >
           <div class="col-md-8">
              <!--iframe width=100% height=500 style="margin-top:5%; margin-right:5%" src="{{vidurl}}" frameborder="0" allowfullscreen></iframe-->
              <video height="100%" width="100%" style="margin-top:5%; margin-right:5%" controls frameborder="0" allowfullscreen>
                <source src="{{vidurl}}" type="video/mp4" />
              </video>
              <ul class="list-group" style="margin-top:2%;">
                <li class="list-group-item"><span class="videotitle">{{vusrdata.title}}</span>
                  <span class="label label-primary col-md-offset-1 col-sm-offset-1 ">
                    <span class="badge" >{{videodata.views}} </span> views</span>
                        
                    <span class="col-md-offset-1 col-sm-offset-1" style="display-inline;">
                      <a  href="/videos/upvoted/{{videodata._id.toString()}}" >
                        <button class="btn btn-sm btn-primary" type="submit" id="upvote" >
                          <i class="glyphicon glyphicon-thumbs-up"></i> <span class="badge">{{videodata.upvotes}}</span>
                        </button>
                      </a>
                    </span>
                    <span>
                      <a  href="/videos/downvoted/{{videodata._id.toString()}}">
                        <button class="btn btn-sm btn-primary" type="submit" id="downvote">
                          <i class="glyphicon glyphicon-thumbs-down"></i> <span class="badge">{{videodata.downvotes}}</span>
                        </button>
                      </a>
                    </span>
                  
                </li>
              </ul>
            </div>
          <div class="col-md-4" style="display:none">
            <h3 style="padding-bottom:3%">Recommended videos</h3>
            <div style="margin=3%">
             <iframe style="padding-top:3%" width=auto height=auto  src="https://www.youtube.com/embed/P8Xa2BitN3I?feature=oembed" frameborder="0" ></iframe>
             <p style="float:right; padding-top:3%"><font size="3.5" color="red">this is our video</p>
            </div>
             <b>  
            <div style="margin=3%">
             <iframe style="padding-top:3%" width=auto height=auto  src="https://www.youtube.com/embed/zaBhtODEL0w?feature=oembed" frameborder="0" ></iframe>
             <p style="float:right; padding-top:3%"><font size="3.5" color="red">this is our video 2</p>
            </div>
             <b>  
             <iframe width=auto height=auto  src="https://www.youtube.com/embed/QRq6p9s8NVg?feature=oembed" frameborder="0" ></iframe>
             <b>  
             <iframe width=auto height=auto  src="https://www.youtube.com/embed/bIA8HEEUxZI?feature=oembed" frameborder="0" ></iframe>
             <b>  
             <iframe width=auto height=auto  src="https://www.youtube.com/embed/8Ls1RqHCOPw?feature=oembed" frameborder="0" ></iframe>  
          </div>  
       </div>         
  </div>
  
 


 {% endblock%}











