
{% extends '../users/usernav.html' %}
{% block customCSS %}
 {% parent %}
    <!--link rel="stylesheet" type="text/css" href="/css/signin.css"--> 
    <link rel="stylesheet" type="text/css" href="/css/extra.css">
    <style>
      .display_video{
        margin: 2% 37% auto;
      }

    </style>
 {% endblock%} 

{% block contents %}
 {% parent %}

<div class="display_video">
  <video height="600" width="1000" controls>
    <source src="{{vidurl}}" type="video/mp4" />
  </video>
</div>

 <!-- 16:9 aspect ratio    < 4:3 aspect ratio >>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="http://192.168.0.100/sample.mp4"></iframe>
</div-->


<!--div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="http://192.168.0.100/big.mp4"></iframe>
</div-->

{% endblock%} 











